users.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Mon Oct 15 2018 12:17:07 GMT+0300 (за східноєвропейським літнім часом) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="users">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="user" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="id" type="xs:int"></xs:element>
                                             <xs:element name="name">
                                                   <xs:simpleType>
                                                         <xs:restriction base="xs:string">
                                                               <xs:length value="100" />
                                                         </xs:restriction>
                                                   </xs:simpleType>
                                             </xs:element>
                                             <xs:element name="age">
                                                   <xs:simpleType>
                                                         <xs:restriction base="xs:int">
                                                               <xs:minInclusive value="0"/>
                                                         </xs:restriction>
                                                   </xs:simpleType>
                                             </xs:element>
                                             <xs:element name="gender" type="Gender"></xs:element>
                                             <xs:element name="active" type="xs:boolean"></xs:element>
                                             <xs:element name="roles">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element minOccurs="0" name="role" maxOccurs="unbounded">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="id" type="xs:int"></xs:element>
                                                                                 <xs:element name="name" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                                 <xs:unique name="IdUnique">
                                       <xs:selector xpath="id"></xs:selector>
                                       <xs:field xpath="id"></xs:field>
                                 </xs:unique>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
      <xs:simpleType name="Gender">
            <xs:restriction base="xs:string">
                  <xs:enumeration value="MALE"/>
                  <xs:enumeration value="FEMALE"/>
            </xs:restriction>
      </xs:simpleType>
   </xs:schema>